In [1]:
import pandas as pd

In [2]:
train_df = pd.read_table("cleaned-input.training.tsv")

/Users/jameshelfrich/miniconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [3]:
train_df.head()

,FileNo,CountyName,CurrentOperator,CurrentWellName,DFElev,FieldName,Footages,GRElev,KBElev,LeaseName,...,std_tvd,stimulated_formation,surface_lat,surface_lng,total_lbs_proppant,total_num_stages,total_volume_bbls,tvd,type_treatment,well_status_date
0,27863,WILLIAMS,WHITING OIL AND GAS CORPORATION,P WOOD 154-98-16-23-14-2H3,NaN,TRUAX,911 FSL 792 FEL,NaN,NaN,P WOOD,...,98.015839,bakken,48.142413,-103.240896,3991618.0,20,90232.0,10896.84,sand frac,2014-11-01
1,20136,MCKENZIE,"HESS BAKKEN INVESTMENTS II, LLC",IVERSON TRUST 1-1H,NaN,GLASS BLUFF,300 FNL 1320 FEL,2216.0,2238.0,IVERSON TRUST,...,131.742252,bakken,47.934285,-103.802089,3668254.0,38,69347.0,10774.50,sand frac,2011-06-10
2,25780,MOUNTRAIL,"LIME ROCK RESOURCES III-A, L.P.",CGB 30-31H,NaN,STANLEY,311 FNL 1795 FWL,2219.0,2247.0,CGB,...,144.805008,three forks,48.224994,-102.431774,3046163.0,46,46463.0,9906.50,fracture,2013-11-26
3,24575,STARK,WHITING OIL AND GAS CORPORATION,PAVLISH 31-30PH,NaN,SOUTH HEART,310 FNL 2000 FWL,2573.0,2600.0,PAVLISH,...,104.832581,bakken,46.918980,-102.969390,4811400.0,30,55196.0,10260.21,sand frac,2013-05-04
4,22752,MOUNTRAIL,"LIME ROCK RESOURCES III-A, L.P.",STATE 34-33-28H,NaN,STANLEY,805 FSL 1222 FWL,2287.0,2317.0,STATE,...,87.433502,bakken,48.199037,-102.369400,NaN,30,NaN,9726.07,NaN,2013-01-08

In [4]:
train_df.shape

(6529, 53)

In [5]:
train_df.columns

Index(['FileNo', 'CountyName', 'CurrentOperator', 'CurrentWellName', 'DFElev',
       'FieldName', 'Footages', 'GRElev', 'KBElev', 'LeaseName', 'LeaseNumber',
       'OriginalOperator', 'OriginalWellName', 'ProducedPools', 'QQ', 'Range',
       'Section', 'TD', 'Township', 'WellStatus', 'WellType', 'Wellbore',
       'api', 'bakken_isopach_ft', 'bh_lat', 'bh_lng', 'choke_size', 'legs',
       'max_tvd', 'mean_tvd', 'min_tvd', 'num_pools_produced',
       'production_liquid_120', 'production_liquid_150',
       'production_liquid_180', 'production_liquid_1825',
       'production_liquid_270', 'production_liquid_30',
       'production_liquid_365', 'production_liquid_60',
       'production_liquid_730', 'production_liquid_90', 'spud_date', 'std_tvd',
       'stimulated_formation', 'surface_lat', 'surface_lng',
       'total_lbs_proppant', 'total_num_stages', 'total_volume_bbls', 'tvd',
       'type_treatment', 'well_status_date'],
      dtype='object')

In [6]:
train_df.isnull().sum()

FileNo                       0
CountyName                   0
CurrentOperator              0
CurrentWellName              0
DFElev                    6527
FieldName                    0
Footages                     0
GRElev                    1138
KBElev                     393
LeaseName                    0
LeaseNumber                  3
OriginalOperator             0
OriginalWellName             0
ProducedPools               11
QQ                           0
Range                        0
Section                      0
TD                          14
Township                     0
WellStatus                   0
WellType                     0
Wellbore                     0
api                          0
bakken_isopach_ft            0
bh_lat                     333
bh_lng                     333
choke_size                 623
legs                       333
max_tvd                    333
mean_tvd                   333
min_tvd                    333
num_pools_produced           0
production_liquid_120      143
production_liquid_150      165
production_liquid_180      224
production_liquid_1825    5860
production_liquid_270      592
production_liquid_30       109
production_liquid_365     1065
production_liquid_60       122
production_liquid_730     2789
production_liquid_90       133
spud_date                   26
std_tvd                    333
stimulated_formation       816
surface_lat                  0
surface_lng                  0
total_lbs_proppant         871
total_num_stages             0
total_volume_bbls          984
tvd                        333
type_treatment            1122
well_status_date             0
dtype: int64

In [7]:
train_df.stimulated_formation.value_counts()

bakken                3987
three forks           1617
spearfish               85
pronghorn                7
madison                  4
tyler                    3
red river                2
bakken,three forks       2
bakken/three forks       1
lodgepole                1
bluell                   1
scallion                 1
nesson                   1
bakken,pronghorn         1
Name: stimulated_formation, dtype: int64

In [9]:
train_df.shape

(6529, 53)

In [8]:
train_df.filter(["stimulated_formation", "production_liquid_180"]).groupby("stimulated_formation").median()

                      production_liquid_180
stimulated_formation
bakken                              58952.0
bakken,pronghorn                    35783.0
bakken,three forks                  31542.0
bakken/three forks                      NaN
bluell                                  NaN
lodgepole                               NaN
madison                                 NaN
nesson                                  NaN
pronghorn                           18810.0
red river                               NaN
scallion                            20168.0
spearfish                          121828.5
three forks                         53435.0
tyler                                   NaN